# Node dependencies
client/node_modules/
server/node_modules/

# Local-only files
print.js

# Environment files
server/.env
.env


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
